body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.to-buy, .products-button {
  background: #44594f;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
  padding: 8px 12px 12px 12px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search {
  margin-top: 12px;
}

.header-form {
  width: 100%;
  height: 32px;
  position: relative;
}

.header-form input {
  position: absolute;
  left: 0;
  width: 85%;
  height: 100%;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 8px 0px 0px 8px;
  border: none;
}

.header-form button {
  position: absolute;
  width: 15%;
  height: 100%;
  background: #253f33;
  border-radius: 0px 8px 8px 0px;
  right: 0;
}

.main-banner {
  width: 100%;
  height: 390px;
  background-image: url(../img/main-theme.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.to-buy {
  padding: 11px 48px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 80%;
}

.products {
  padding: 11px 14px;
  background-color: #f7f7f7;
}

.products h1 {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #44594f;
  margin-bottom: 13px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-item {
  width: calc((100% - 4 * 6) / 2);
  margin: 12px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  padding: 12px 20px;
  text-align: center;
}

.products-item h2 {
  color: #666666;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
}

.products-item p {
  font-size: 9px;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 5px;
}

.products-button {
  padding: 4px 20px;
  font-size: 12px;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.watch-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
  margin-bottom: 6px;
  color: #44594f;
  font-size: 12px;
  line-height: 1.2;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  display: block;
  margin: 0;
}

.about-us {
  width: 100%;
  height: 249px;
  background-image: url(../img/about-img.jpg);
  background-repeat: no-repeat;
  padding: 22px;
  background-size: cover;
  margin: 0;
}

.about-us h2 {
  text-align: center;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

.about-us p {
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
}

.partners {
  width: 100%;
  padding: 16px 21px 21px 21px;
}

.partners ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  background-color: #44594f;
  border-radius: 30px 30px 0px 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social li:not(:last-child) {
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */